.recipeCard{
    margin-bottom: 5px ;
    background-color: rgba(255, 255, 255, 0.8)
}

.cover {
    height: 460px;
    /* 图片居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 248, 250);
}

.coverImgLoading {
    width: 40px;
    height: 40px;
}
.coverImgLoaded  {
    aspect-ratio: 3/4;
    border-radius: 20px;
    /* 图片居中 */
    object-fit: cover;
}
