
.topNav {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #fff;
  /* background-color: rgba(255, 255, 255, 0); */
  
  /* border-bottom: 1px solid #eee; */
}

.menuIcon {
  margin-right: 15px;
  margin-left: 10px;
  color: #333;
    width: 40px;
  height: 40px;
}
.searchContainer {
  display: flex;
  flex: 1;
  height: 108px;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
}


.searchBar {
  width: 100%;
}
.bellIcon {
  margin-right: 10px;
  margin-left: 15px;
  color: #333;
  width: 40px;
  height: 40px;
}
