
.header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    z-index: 100;
}

.categoryBar {
  background-color: #fff;
  padding: 10px 0;
  overflow-x: auto;
}

.tabs {
  min-width: 100%;
}