
.topNav {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #fff;
  /* background-color: rgba(255, 255, 255, 0); */
  
  /* border-bottom: 1px solid #eee; */
}

.menuIcon {
  margin-right: 15px;
  margin-left: 10px;
  color: #333;
    width: 40px;
  height: 40px;
}
.searchContainer {
  flex: 1;
  position: relative;
  z-index: 1;
}

.searchBar {
  width: 100%;
}



.bellIcon {
  margin-right: 10px;
  margin-left: 15px;
  color: #333;
  width: 40px;
  height: 40px;
}


/* 退出登录弹窗 */
.popupContent {
  padding: 20px;
  text-align: center;
}

.popupTitle {
  margin-bottom: 20px;
  color: #333;
}

.popupButtons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cancelButton {
  flex: 1;
  background-color: #f5f5f5;
  color: #666;
}

.confirmButton {
  flex: 1;
  background-color: #f04848;
  color: white;
}


.cell {
  font-weight: bold;
  
}